.box {
  height: 400px;
  padding: 20px;
  color: #fff;
  background: deepskyblue;
}

.margin-top-80 {
  margin-top: 80px;
}


/* logo */
#logo {

  /* Spacing */
  height: 60px;
  padding-top: 20px;
  padding-bottom: 5px;

  /* Location, font */
  margin-left: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #FF3399;

  /* Formatting */
  font-size: 24px;
  font-weight: bold;
 
}

